footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: #f0f0f0;
	padding: 18px 10px;;
	border-radius: 0 0 10px 10px;
}

.rede__social a {
	margin: 10px;
}

.rede__social a img {
	height: 22px;
}

.copyright {
	margin: 20px;
}
